.Rproj.user
.Rhistory
.RData
.Ruserdata
/data
/.quarto/
/other
/handouts
.Rdata
.httr-oauth
.DS_Store
/assessments
/blog
/solutions
/graphs
/final_project
question_of_the_day.qmd
question_of_the_day.html
